@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(//fonts.googleapis.com/earlyaccess/cwtexkai.css);
@import url('https://fonts.googleapis.com/css?family=Jura');

.dmsfont-jura {
  font-family: 'Jura', sans-serif;
}

.dmsfont-nototc {
  font-family: 'Noto Sans TC', sans-serif;
}

.dmsfont {
  font-family: 'Jura', 'Noto Sans TC', sans-serif;
}
